


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Aeonik';
    src: url(font/Aeonik-Black.woff);
}


nav a{
    color: black;
    text-decoration: none;
    display: flex;
       align-items: center;
    font-weight: bold;
}

nav a:hover{
    color: rgb(73, 3, 226);
    
}

nav .offcanvas ul{
    list-style-type: none;
}

nav .offcanvas ul li a{
    font-size: 1.6rem;
    font-weight: bold;
}



section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.con {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
.left {
  width: 50%;
  height: 600px;
  background: url('Image.png')
    no-repeat center / cover;
}
.right {
  width: 57%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: rgb(79, 77, 77);
  margin-right: -150px;
  z-index: 2;
}


.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

.hero-text {
    font-family: 'Aeonik';
    font-weight:900;
    font-style: normal;
    color: #727272;
    text-transform: uppercase;

}
#gradient{
    background: -webkit-linear-gradient(#0000FF, #B072D2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn{
    border-radius: 0!important;
    background-color: #0000FF!important;
}


.join {
  font-family: 'Aeonik';
  font-weight:900;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;

}


.im{
  background-image: url("Image.png");
  background-repeat: no-repeat;
  background-position: right  ;
  background-size: 50%;
  
}
.h{
  letter-spacing: 1.5px;
   }


   .jc{
    background-image: url("join.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
    
  }

@media (max-width: 576px) {
    .position-sm-static {
      position: static !important;
    }
    .position-sm-relative {
      position: relative !important;
    }
    .position-sm-absolute {
      position: absolute !important;
    }
    .position-sm-fixed {
      position: fixed !important;
    }
    .position-sm-sticky {
      position: sticky !important;
    }

    .im{
      background-image: url("Image.png");
      background-repeat: no-repeat;
      background-position:bottom right;
      background-size: 80%;

    }

    .jc{
      background-image: url("join.png");
      background-repeat: no-repeat;
      background-position:top right ;
      background-size: 70%;
      
    }
    
  }
  
  @media (max-width: 768px) {
    .position-md-static {
      position: static !important;
    }
    .position-md-relative {
      position: relative !important;
    }
    .position-md-absolute {
      position: absolute !important;
    }
    .position-md-fixed {
      position: fixed !important;
    }
    .position-md-sticky {
      position: sticky !important;
    }
    
    .im{
      background-image: url("Image.png");
      background-repeat: no-repeat;
      background-position:bottom right;
      background-size: 60%;

    }
  }
  
  @media (max-width: 800px) {
    .position-lg-static {
      position: static !important;
    }
    .position-lg-relative {
      position: relative !important;
    }
    .position-lg-absolute {
      position: absolute !important;
    }
    .position-lg-fixed {
      position: fixed !important;
    }
    .position-lg-sticky {
      position: sticky !important;
    }

    
    .im{
      background-image: url("Image.png");
      background-repeat: no-repeat;
      background-position:bottom right;
      background-size: 70%;

    }
  }
  
  @media (min-width: 1200px) {
    .position-xl-static {
      position: static !important;
    }
    .position-xl-relative {
      position: relative !important;
    }
    .position-xl-absolute {
      position: absolute !important;
    }
    .position-xl-fixed {
      position: fixed !important;
    }
    .position-xl-sticky {
      position: sticky !important;
    }
  }

  .footer{
background-image: url('/logo/Logo-Icon.svg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
    background-color: #100144;
    color: aliceblue;
  }
  .ftlink ul{
text-decoration: none;
list-style-type: none;
  }

  .ftlink ul a{
    text-decoration: none;

    color: aliceblue;
      }

      .mh{
        
    background-color: #100144;
      }


      .cursor{
        position: fixed;
        width: 50px;
        height: 50px;
        border: 1px solid #c6c6c6;
        border-radius: 50%;
        left: 0;
        top: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: .1s;
      }
      
      .cursor2{
        position: fixed;
        width: 8px;
        height: 8px;
        background-color: #c6c6c6;
        border-radius: 50%;
        left: 0;
        top: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: .15s;
      }
      
      .content:hover ~ .cursor{
        transform: translate(-50%, -50%) scale(1.5);
        background-color: #c6c6c6;
        opacity: .5;
      }
      
      .content:hover ~ .cursor2{
        opacity: 0;
      }

    /*  #cbg{
        background-image: url('/contact/Square.svg');
      background-repeat: no-repeat;
      background-position:  left  
      }*/